# Memory configuration for the VIC-20 with 24K RAM Cartridge
# Contributed by Stefan Haubenthal
MEMORY {
    ZP: start =  $0002, size = $001A, type = rw, define = yes;
    RAM: start = $11FF, size = $1001, define = yes, fill = yes, file = %O; #stack at top of RAM
    URAM: start = $2200, size = $3C00, define = yes, file = %O;
}
SEGMENTS {
    STARTUP:  load = RAM, type = ro;
    HEAP:     load = URAM, type = bss, optional = yes; # must sit just below stack
    LOWCODE:  load = URAM, type = ro,               optional = yes;
    INIT:     load = URAM, type = ro, define = yes, optional = yes;
    CODE:     load = URAM, type = ro;
    RODATA:   load = URAM, type = ro;
    DATA:     load = URAM, type = rw;
    ZPSAVE:   load = URAM, type = bss;
    BSS:      load = URAM, type = bss, define = yes;
    ZEROPAGE: load = ZP,  type = zp;
}
FEATURES {
    CONDES: segment = INIT,
	    type = constructor,
	    label = __CONSTRUCTOR_TABLE__,
	    count = __CONSTRUCTOR_COUNT__;
    CONDES: segment = RODATA,
	    type = destructor,
	    label = __DESTRUCTOR_TABLE__,
	    count = __DESTRUCTOR_COUNT__;
    CONDES: segment = RODATA,
	    type = interruptor,
	    label = __INTERRUPTOR_TABLE__,
	    count = __INTERRUPTOR_COUNT__;
}
SYMBOLS {
    __STACKSIZE__ = $300;
}
